files:
  "/etc/supervisor/conf.d/logstash.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
     [program:logstash]
     command=/root/logstash-2.4.0/bin/logstash -f /root/logstash-2.4.0/logstash.conf
     autostart=true
     autorestart=true
     stopsignal=TERM
     stdout_logfile=/tmp/logstash.conf
     user=root
